@font-face {
  font-family: "iconfont"; /* Project id 3370694 */
  src: url('iconfont.woff2?t=1659067767997') format('woff2'),
       url('iconfont.woff?t=1659067767997') format('woff'),
       url('iconfont.ttf?t=1659067767997') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanyu:before {
  content: "\e603";
}

.icon-liebiao:before {
  content: "\e611";
}

.icon-hezichengxu:before {
  content: "\e620";
}

.icon-jia:before {
  content: "\e627";
}

.icon-shezhi:before {
  content: "\e628";
}

.icon-caidan:before {
  content: "\e665";
}

.icon-sousuo:before {
  content: "\e65a";
}

.icon-guanbi:before {
  content: "\e600";
}

.icon-copy:before {
  content: "\e63d";
}

